//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/mixins.scss";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";

//layouts
@import "layouts/main.scss";
@import "layouts/best.scss";
@import "layouts/features.scss";
@import "layouts/reviews.scss";
@import "layouts/review.scss";
@import "layouts/header.scss";
@import "layouts/menu.scss";
@import "layouts/btn.scss";
@import "layouts/section-title.scss";
@import "layouts/down-arrow.scss";
@import "layouts/scroll.scss";