//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//breakpoints
$tablets: 768px;
$phones: 480px;

//media
@import "_misc/media.scss";

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/mixins.scss";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";

//layouts
@import "layouts/nav.scss";
@import "layouts/main.scss";
@import "layouts/best.scss";
@import "layouts/burgers.scss";
@import "layouts/ingredients__weight.scss";
@import "layouts/features.scss";
@import "layouts/team.scss";
@import "layouts/team-accordeon.scss";
@import "layouts/menu.scss";
@import "layouts/menu-accordeon.scss";
@import "layouts/form.scss";
@import "layouts/video.scss";
@import "layouts/reviews.scss";
@import "layouts/review.scss";
@import "layouts/map.scss";
@import "layouts/footer.scss";
@import "layouts/social.scss";
@import "layouts/header.scss";
@import "layouts/btn.scss";
@import "layouts/section-title.scss";
@import "layouts/down-arrow.scss";
@import "layouts/hamburger-menu.scss";
@import "layouts/hamburger-menu-link.scss";
@import "layouts/scroll.scss";