.down-arrow__img {
    display: block;
    width: rem(50px);
    height: rem(50px);
    position: absolute;
    bottom: rem(40px);
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
  }
  