.hamburger-menu-link {
    vertical-align: middle; 
    height: rem(22px);
    align-items: center;
    margin-left: rem(30px);
    display: none;
    @include tablets {
      display: flex;
      position: fixed;
      top: 2.2rem;
      right: 2.2rem;
      z-index: 2;
    }
    @include phones(){
      top: 2.4rem;
      right: 1.2rem;
    }
}
.hamburger-menu-link__bars {
&, &:before, &:after {
    background: #fff;
    width: rem(24px);
    height: rem(5px);
    border-radius: 3px;
    z-index: 100;
    cursor: pointer;
    transition: transform .25s ease;
}
&:before, &:after {
    content: "";
    display: block;
    position: absolute;
}
&:before {
    top: 0;
}
&:after {
    bottom: 0;
}
}
.hamburger-menu-link.is-active .hamburger-menu-link__bars{
background: transparent;
&:before {
    transform: translateY(10px) translateX(0) rotate(45deg);
    border-radius: 5px; }
&:after {
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    border-radius: 5px; }
}
  