.hamburger-menu__link {
    vertical-align: middle; 
    height: rem(22px);
    align-items: center;
    display: none;
    @include tablets {
      display: flex;
      position: fixed;
      top: 2.4rem;
      right: 1.8rem;
      z-index: 2;
    }
    @include phones(){
      top: 2.8rem;
      right: 1.2rem;
    }
}

.hamburger-menu__img {
    width: rem(24px);
    height: rem(22px);
}

.hamburger-menu__close {
  vertical-align: middle; 
  height: rem(22px);
  align-items: center;
  display: none;
  @include tablets {
    display: flex;
    position: fixed;
    top: 2.1rem;
    right: 1.8rem;
    z-index: 2;
  }
  @include phones(){
    top: 2.6rem;
    right: 1.2rem;
  }
}

.hamburger-close__icon {
  width: rem(24px);
  height: rem(22px);
}
  