.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__order-btn {
  margin-left: 15px;
}

.header__menu {
  display: flex;
}