.menu-accordeon {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	@extend %clearfix;
}

.menu-accordeon__item {
	float: left;
	height: 100%;

	&.active {
		.menu-accordeon__trigger-text {
			color: $yellow;
        }
        
        .menu-accordeon__desc {
            width: rem(550px);

            @include tablets {
              width: rem(550px);
            }

            @include phones {
              width: rem(215px);
            }
        }

        .menu-accordeon__text {
            display: block;
        }
	}
}

.menu-accordeon__trigger {
  width: rem(80px);
	display: block;
	height: 100%;
	float: left;
	@include cover;
	text-decoration: none;
  position: relative;

  @include phones {
    width: rem(50px);
  }
}

.menu-accordeon__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	text-align: center;
	white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: rem(-20px);

  @include phones {
    font-size: rem(26px);
  }
}

.menu-accordeon__desc {
	height: 100%;
	float: left;
	background: rgba(#2f3234, .93);
	// width: 0;
  overflow: hidden;
  transition: width .5s;
}

.menu-accordeon__text {
    @include ubuntu;
    font-weight: 300;
    font-size: rem(14px);
    color: #fff;
    padding: rem(60px) rem(30px);
    width: 100%;
    line-height: 1.8;
    display: none;

    @include phones {
      padding: rem(25px) rem(15px);
    }
}