.section__title {
    font-size: rem(72px);
    @include gagalin;
    margin-bottom: rem(45px);
    line-height: 1;
    color: $yellow;

    @include phones {
      font-size: rem(54px);
      margin-bottom: rem(25px);
    }
  
    &--color-black {
      color: $black;
    }

    &--color-white {
      color: #fff;
    }
  
    &--centered {
      text-align: center;
    }
  }
  