.socials__list {
    position: relative;
    top: 50%;
  }
  
  .socials__item {
    @include inlineblock(middle);
    margin-left: rem(10px);
  
    &:first-child {
      margin-left: rem(0px);
    }
  
  }
  
  .socials__link {
    display: inline-block;
    max-width: rem(23px);
    max-height: rem(20px);
    opacity: .6;
    transition: .3s;
    &:hover {
      opacity: 1;
    }
    @include phones{
      max-width: rem(30px);
      max-height: rem(30px);
    }
  }
  
  .socials__icon {
    width: rem(20px);
    height: rem(20px);
    fill: #fff;
    opacity: 0.7;
    transition: opacity 0.5s;
    &:hover {
      opacity: 1;
    }
    @include phones{
      width: rem(20px);
      height: rem(20px);
    }
  
  }
  