.best {
    background: url('../img/background/best.jpg') center center / cover no-repeat;
  }
  .best__list {
    display: flex;

    @include phones() {
      flex-direction: column;
    }
  }
  
  .best__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: rem(10px);
  
    &:last-child {
      margin-right: 0;
    }

    @include phones {
      flex-direction: row;
      width: 100%;
      margin-bottom: rem(25px);
    }
  }


.best .section-title {
  margin-bottom: rem(55px);

  @include tablets {
    margin-bottom: rem(40px);
  }
}

