.hamburger__menu {
  position: fixed;
  left: -999999px;
  right: 0;
  background: rgba(#2f3234, .95);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 10;
  transition: opacity .3s;
  
  &.active{
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
    transition: .3s;
  }
}