.team-accordeon {
	@include tablets {
		padding-bottom: rem(20px);
	}
}

.team-accordeon__item {
  margin-bottom: rem(40px);
  
  @include tablets {
    margin-bottom: rem(30px);
  }

	&:last-child {
		margin-bottom: 0;
	}

	&.active {
		.team-accordeon__trigger {
			color: $yellow;

			&:before {
				transform: rotate(-180deg);
			}
		}

		.team-accordeon__desc {
			display: block;
			// transition: height .5s;
		}
	}
}

.team-accordeon__trigger {
	color: #fff;
	font-size: rem(14px);
	@include gagalin;
	text-decoration: none;
	position: relative;
	display: block;
	margin-bottom: rem(20px);

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		left: rem(-18px);
		top: rem(8px);
		width: 0;
        height: 0;
	}

	&:before {
		border-top: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: rem(0px) solid transparent;
		transform: rotate(0deg);
		transition: .3s;
	}

	&:after {
		display: none;
		border-bottom: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-top: rem(0px) solid transparent;
	}

	@include tablets {
		display: inline-block;
		font-size: rem(25px);

		&:before {
			margin-top: rem(10px);
		}
	}
}

.team-accordeon__desc {
	@extend %clearfix;
	padding-top: rem(14px);
	display: none;
	min-height: rem(114px);
	transition: height .5s;

	@include tablets {
		padding: 0 25%;
	}
}

.team-accordeon__pic {

	@include tablets {
		margin-bottom: rem(15px);
	}
}

.team-accordeon__img {
	background: url(../img/Photos/team.jpg);
    display: inline-block;
	vertical-align: top;
	max-width: 100%;
	width: rem(100px);
	height: rem(100px);
	margin-right: rem(20px);
	@include cover;
	border-radius: 50%;
}

.team-accordeon__text {
	width: 70%;
}

.team-accordeon__pic, .team-accordeon__text {
	float: left;

	@include tablets {
		float: none;
		width: 100%;
	}
}

.team-accordeon__title {
    @include ubuntu;
    font-weight: bold;
	font-size: rem(14px);
	color: #fff;
	margin-bottom: rem(14px);
}

.team-accordeon__text-desc {
    @include ubuntu;
    font-weight: 300;
	color: #fff;
	font-size: rem(14px);
}

.modal__review {
	display: none;
	background: rgba(0, 0, 0, 0.603);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&.active {
		display: block;
	}
}

.modal__review-close {
	width: 1.25rem;
    height: 1.25rem;
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: .7;
	transition: .3s;
	background: url(../../img/mobile/close_orange.png);
	background-size: contain;
}

// .modal__review-button {
// 	max-width: 100%;
// }

.modal__review-desc {
	max-width: rem(450px);	
	padding: rem(25px) rem(20px);
	// padding-right: rem(30px);
	border-radius: 5px;
	position: fixed;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	height: auto;

	@include phones {
		width: 95%;
	}
}

.modal__review-title {
	@include gagalin;
	font-size: rem(14px);
	margin-bottom: rem(30px);
	text-transform: uppercase;
}

.modal__review-text {
	@include ubuntu;
	font-weight: 300;
	font-size: rem(14px);
}