@font-face {
	font-family: gagalin;
	src: url('../fonts/Gagalin-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: lifehack;
	src: url('../fonts/Lifehack-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: ubuntu;
	src: url('../fonts/Ubuntu-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: ubuntu;
	src: url('../fonts/Ubuntu-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: ubuntu;
	src: url('../fonts/Ubuntu-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: ubuntu;
	src: url('../fonts/Ubuntu-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}